$primary: darken(#428bca, 20%);
$primaryFont: verdana;
$titleFont: Round;



@import "~bootstrap/scss/bootstrap";

body{
    background-color: #f76c6c77;
    color: $primary;
    font-style: $primaryFont;

}

.image{ 
    width: 400px;
}